<script src="js/jquery.min.js"></script>
<script src="js/jquery.dropotron.min.js"></script>
<script src="js/jquery.scrollgress.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-layers.min.js"></script>
<script src="js/init.js"></script>
<noscript>
  <link rel="stylesheet" href="css/skel.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/style-wide.css" />
</noscript>

<!-- Header -->
<header id="header" class="skel-layers-fixed">
  <h1><a href="index.html">China Blogger</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="index.html">回到主页</a></li>
      <li><a href="#">所有活动</a>
    </ul>
  </nav>
</header>

<!-- Main -->
<section id="main" class="container 75%">
  <header>
    <h2>联系我们</h2>
    <p>告诉我们您的需求或建议</p>
  </header>
  <div class="box">
    <form method="post" action="#">
      <div class="row uniform 50%">
        <div class="6u 12u(mobilep)">
          <input type="text" name="name" id="name" value="" placeholder="姓名" />
        </div>
        <div class="6u 12u(mobilep)">
          <input type="email" name="email" id="email" value="" placeholder="邮箱" />
        </div>
      </div>
      <div class="row uniform 50%">
        <div class="12u">
          <input type="text" name="subject" id="subject" value="" placeholder="主题" />
        </div>
      </div>
      <div class="row uniform 50%">
        <div class="12u">
          <textarea name="message" id="message" placeholder="输入您的反馈" rows="6"></textarea>
        </div>
      </div>
      <div class="row uniform">
        <div class="12u">
          <ul class="actions align-center">
            <li><input type="submit" value="发给我们" /></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</section>