<body class="landing">
  <!-- Header -->
  <header id="header" class="alt">
    <h1><a href="/">China Blogger</a></h1>
    <nav id="nav">
      <ul>
        <li><a href="contact.html">联系我们</a></li>
        <li><a href="#">所有活动</a></li>
      </ul>
    </nav>
  </header>

  <!-- Banner -->
  <section id="banner">
    <h2>中文技术博主大会</h2>
    <h3>让我们开启中文技术博客的时代</h3>
    <p>6月27日&nbsp;&nbsp;北京&nbsp;&nbsp;我们不见不散</p>
    <ul class="actions">
      <li><a href="#" class="button">立即报名</a></li>
      <li><a href="#" class="button">查看详情</a></li>
    </ul>
  </section>

  <!-- Main -->
  <section id="main" class="container">

    <section class="box special">
      <header class="major">
        <h3>活动详情</h3>
      </header>
      <!--<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>-->
      <span class="intro">中国博主大会是由 China Blogger 与 地平线 Horizon 联合举办的一场博主们的盛宴。<br />它将为博主们营造一个交流，分享，创造的环境。活动将于6月27日下午1点在北京创客空间举行。<br />这将会是一场中国博客浪潮的革命。让我们开启中国博客的时代！</span>
    </section>

    <section class="box special features">
      <div class="features-row">
        <section>
          <span class="icon major fa-share-alt accent2"></span>
          <h3>分享</h3>
          <p>感动值得我们来倾听<br />你的所见，所听，所写都是值得关注与思考的。</p>
        </section>
        <section>
          <span class="icon major fa-pencil-square-o accent3"></span>
          <h3>创造</h3>
          <p>创造造就了我们的精彩<br />China Blogger 鼓励你的每一行文字，每一番思绪。</p>
        </section>
      </div>
      <div class="features-row">
        <section>
          <span class="icon major fa-comments-o accent4"></span>
          <h3>交流</h3>
          <p>灵感总是来源于不断的交流<br />在这里，我们都是无话不说的好朋友。</p>
        </section>
        <section>
          <span class="icon major fa-unlock-alt accent5"></span>
          <h3>开放</h3>
          <p>自由是灵魂的归宿<br />中国博客大会将自由开放带进每场精彩的活动。</p>
        </section>
      </div>
    </section>

    <div class="row">
      <div class="6u 12u(narrower)">
        <section class="box special">
          <span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
          <h3>到场嘉宾：宋飞</h3>
          <p>创业者&nbsp;&nbsp;&nbsp;Rails 开发者<br />开源硬件开发者&nbsp;&nbsp;&nbsp;技术博主</p>
          <ul class="actions">
            <li><a href="#" class="button alt">关于他</a></li>
          </ul>
        </section>
      </div>
      <div class="6u 12u(narrower)">
        <section class="box special">
          <span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
          <h3>到场嘉宾：佟辉</h3>
          <p>GNOME 基金会会员&nbsp;&nbsp;&nbsp;FOSS 开发者<br />北京 GNU/Linux 用户组管理员&nbsp;&nbsp;&nbsp;资深博主</p>
          <ul class="actions">
            <li><a href="#" class="button alt">关于他</a></li>
          </ul>
        </section>
      </div>
      <div class="6u 12u(narrower)">
          <section class="box special">
              <span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
              <h3>到场嘉宾：</h3>
              <p></p>
              <ul class="actions">
                <li><a href="#" class="button alt">关于他</a></li>
              </ul>
            </section>
          </div>
          <div class="6u 12u(narrower)">
            <section class="box special">
              <span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
              <h3>到场嘉宾：池建强</h3>
              <p></p>
              <ul class="actions">
                <li><a href="#" class="button alt">关于他</a></li>              </ul>
            </section>
          </div>
    </div>
  </section>

  <!-- CTA -->
  <section id="cta">
    <h2>请留下您的邮箱</h2>
    <p>我们将诚邀您参加下次活动</p>
    <form>
      <div class="row uniform 50%">
        <div class="8u 12u(mobilep)">
          <input type="email" name="email" id="email" placeholder="name@example.com" />
        </div>
        <div class="4u 12u(mobilep)">
          <input type="submit" value="赏了!" class="fit" />
        </div>
      </div>
    </form>
</section>
</body>
